*{ box-sizing: border-box; }

html { 
    text-align: center;
    font-family: serif;
    }
body { 
    width: 97%; 
    text-align: left;
    background-color: whitesmoke;
    margin: 1%;
    }
            
.header { 
    width: 97%; 
    padding: 5px;
    margin: 15px;
    background-color: #ccc;  
    text-indent: 50px;
    border-radius: 10px ;
    }

.article { 
    width: 80%; 
    display: table;
    padding: 15px;
    margin: 10px;

    }

.footer {
    width: 93%; 
    padding: 5px;
    margin: 10px;
    position: absolute;   
    bottom: 0;
    text-align: center;  
    }



.nav-menu { 
    width: 15%; 
    float: left; 
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    }
 
.nav-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.15vw;
    }
    
.nav-menu a:hover {
    background-color: #ccc;
    }
    
.nav-menu a.active {
    background-color: #4CAF50;
    color: white;
    }

h1{ font-size: 2.3vw; }
h6{ font-size: 0.7vw; }
p { font-size: 1.15vw; }


#regLog{
    padding-right: 15px;
    text-align: right;
    font-size: 1.2vw;
    }

form{
    padding: 10px;
    margin-block-start: 10px;
    text-align: center;
    font-size: 1.15vw;
    }

#pageName{
    text-decoration: none;
    color: black;
    }

a:link {
    color:blue;
    }
    
a:hover{
    color: red;
    }


